@{
    ViewBag.Title = "Profile";
}

<div data-ng-app="app">

    <div data-ng-view></div>

</div>


<!-- Set in App_Start/BundleConfig -->
@Scripts.Render("~/bundles/angular-profile")

<script type="text/javascript">

    //Variables injected into the base page be made availale to all routes of the SPA via JavaScript --------------
    var CoreServiceSettings_ApplicationName = '@Html.Raw(Json.Encode(CoreServices.PlatformSettings.ApplicationName))'


    //Used to immediatly populate currentUserProfile before 45sec delay to get fresh data from CoreServices:
    var CurrentUserProfile = '@Html.Raw(Json.Encode(AuthenticationCookieManager.GetAuthenticationCookie()))'

    var CoreServiceSettings_AccountUsers_RolesList = '@Html.Raw(Json.Encode(CoreServices.Accounts.UserRoles))'
    //var CoreServiceSettings_Urls_AccountImagesCdnUri = '(AT)Html.Raw(Json.Encode(CoreServices.PlatformSettings.Urls.AccountImagingCdnUri))'

    var termsLink = @Html.Raw(Json.Encode(CoreServices.PlatformSettings.Urls.TermsAndConditionsUri));
    var privacyLink = @Html.Raw(Json.Encode(CoreServices.PlatformSettings.Urls.PrivacyPolicyUri));
    var acceptableUseLink = @Html.Raw(Json.Encode(CoreServices.PlatformSettings.Urls.AcceptableUse));
    var serviceAgreement = @Html.Raw(Json.Encode(CoreServices.PlatformSettings.Urls.ServiceAgreementUri));

</script>