@{
    ViewBag.Title = "Leads";
}

<div data-ng-app="app">

    <div data-ng-view></div>

</div>


<!-- Set in App_Start/BundleConfig -->
@Scripts.Render("~/bundles/angular-leads") 

<script type="text/javascript">

    //Variables injected into the base page be made availale to all routes of the SPA via JavaScript --------------

    //Used to immediatly populate currentUserProfile before 45sec delay to get fresh data from CoreServices:
    var CurrentUserProfile = '@Html.Raw(Json.Encode(AuthenticationCookieManager.GetAuthenticationCookie()))'


    var CoreServiceSettings_AccountUsers_RolesList = '@Html.Raw(Json.Encode(CoreServices.Accounts.UserRoles))'

    var termsLink = @Html.Raw(Json.Encode(CoreServices.PlatformSettings.Urls.TermsAndConditionsUri));
    var privacyLink = @Html.Raw(Json.Encode(CoreServices.PlatformSettings.Urls.PrivacyPolicyUri));
    var acceptableUseLink = @Html.Raw(Json.Encode(CoreServices.PlatformSettings.Urls.AcceptableUse));
    var serviceAgreement = @Html.Raw(Json.Encode(CoreServices.PlatformSettings.Urls.ServiceAgreementUri));

</script>